<% layout('layouts/boilerplate') %>
<div id="map" class="mb-3" style="width: 100%; height: 500px;"></div>
    <h1>All Campgrounds</h1>
    <div>
        <a href="/campgrounds/new">Add a New Campground</a>
    </div>
    <% for (let campground of campgrounds) { %>
        <div class="card mb-3">
            <div class="col-md-4 mb-3">
                <% if (campground.images.length) { %>
                    <img class="img-fluid" alt="A campground image" src="<%= campground.images[0].url %>">
                    <% } else { %>
                        <img class="img-fluid" alt="A campground image"
                            src="https://res.cloudinary.com/dplejuooh/image/upload/v1698999010/YelpCamp/ap0pejkqwncth8ump0ad.jpg">
                        <% } %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= campground.title %>
                    </h5>
                    <p class="card-text">
                        <%= campground.description %>
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            <%= campground.location %>
                        </small>
                    </p>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View <%= campground.title %>
                            </a>
                </div>
            </div>
        </div>
        <% } %>

        <script>
            // Transfers this variable to clusterMap.js file
            const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
            // To not get error related mongoose virtual toObject, use -> ``
            const campgrounds = `<%- JSON.stringify(campgrounds) %>`;
        </script>
        <script src="/js/clusterMap.js"></script>