<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campgrounds</title>
</head>
<body> -->
<% layout('layouts/boilerplate') %>
    <h1>All Campgrounds</h1>
    <div>
        <a href="/campgrounds/new">Add a New Campground</a>
    </div>
    <% for (let campground of campgrounds) { %>
        <div class="card mb-3">
            <div class="col-md-4 mb-3">
                <% if (campground.images.length) { %>
                    <img class="img-fluid" alt="A campground image" src="<%= campground.images[0].url %>">
                    <% } else { %>
                        <img class="img-fluid" alt="A campground image"
                            src="https://res.cloudinary.com/dplejuooh/image/upload/v1698999010/YelpCamp/ap0pejkqwncth8ump0ad.jpg">
                        <% } %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= campground.title %>
                    </h5>
                    <p class="card-text">
                        <%= campground.description %>
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            <%= campground.location %>
                        </small>
                    </p>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View <%= campground.title %>
                            </a>
                </div>
            </div>
        </div>
        <!-- <li><a href="/campgrounds/<%= campground._id %>"><%= campground.title %></a></li> -->
        <% } %>
            <!-- </body>
</html> -->